* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    height: 400px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    width: 890px;
    justify-content: center;
}
.headline {
    text-align: center;
}
.headline h1 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 50px;
    background-color: #000;
    
}
.headline h2 {
    margin-top: 10px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3333;
    border: 1px solid #FFF;
    background-color: #FFF;
    font-size: 30px;
}
.headline a {
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px #FFF;
}
#catalog {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.catalog_models {
    display: flex;
    flex-wrap: wrap;  
}
.title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}
.column {
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    min-width: 255px;
    padding: 20px;
}
article img,
article div {
    margin-bottom: 10px;
}
article a {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(3, 110, 3);
    padding: 8px;
    border-radius: 10px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    transition: all 0.3s linear;
}
img:hover {
    width: 300px;
}
.flexColumn {
    flex-direction: column;
    justify-content: flex-start;
}
#quem_somos {
    margin-top: 50px;
    background-image: url('../images/quem_somos.jpg');
    background-size: cover;
    background-position: center;
    height: 530px;
    display: flex;
    justify-content: center;
}
.quem_somos_title h2 {
    margin-top: 25px;
    font-size:35px;
    color: rgb(255, 255, 255);
    background-color: #000;
    text-align: center;
    width: 250px;
    margin-bottom: 100px;
}
.quem_somos_text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #00000085;
    line-height: 50px;
}
#client {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.client_models {
    display: flex;
}
.client_models article {
    display: flex;
    justify-content: center;
}
.client_models img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#questions {
    background-color: #363535;
    height: 570px;
    display: flex;
    justify-content: center;
}
#questions .title {
    margin-top: 50px;
    color: #FFF;
    font-weight: bold;
}
#questions .text {
    color: #FFF;
    font-weight: normal;
}
#questions .text h2{
    margin-bottom: 10px;
}
#questions .text p {
    margin-bottom: 20px;
}
#contact {
    display: flex;
    justify-content: center;
}
.contact_us {
    margin-top: 50px;
    margin-bottom: 50px;
}
.email {
    font-size: 20px;
    text-align: center;
}
.redes_sociais {
    display: flex;
    justify-content: center;
}
.redes_sociais img {
    width: 50px;
    margin: 20px;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 25px;
    text-align: center;
}

@media (max-width:600px) {
    .headline h1 {
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0);
    }
    .headline h2 {
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px #000;
    }
    .catalog_models {
        display: flex;
        flex-direction: column;
    }
    .quem_somos_title h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .quem_somos_text {
        font-size: 15px;
        line-height: 30px;
        padding: 20px;
    }
    .client_models {
        flex-direction: column;
    }
    #client .title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    #questions {
        background-color: #363535;
        height: auto;
        justify-content: center;
    }
    #questions .text {
        padding: 20px;
    }
    #questions .title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    #questions .text h2 {
        font-size: 18px;
        margin-top: 0;
    }
    #questions .text p {
        font-size: 15px;
    }
    .contact_us .title {
        font-size: 30px;
    }
    .contact_us .email {
        font-size: 15px;
    }
    footer {
        padding: 10px;
    }
    address {
        font-size: 12px;
    }
}
